<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous"
	/>
	<title>Edit User</title>
</head>
<body>
<div>
	<!-- update form -->
	<form action="/account/update/" method="post">
        <input type="hidden" name="id" value={{user.id}}>
		<label>First Name</label>
		<input
			type="text"
			name="first_name"
			value="{{user.first_name}}"
			class="form-control"
		/>
		<label>Last Name</label>
		<input
			type="text"
			name="last_name"
			value="{{user.last_name}}"
			class="form-control"
		/>
		<label>Email</label>
		<input
			type="email"
			name="email"
			class="form-control"
			id="exampleInputEmail1"
			aria-describedby="emailHelp"
			value="{{user.email}}"
		/>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<!-- delete button -->
	<form action="/delete/user/{{user.id}}" method="post">
		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
</div>
</body>
</html>
