<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User #{{user.id}}</title>
</head>
<body>
<div>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <h1>{{user.email}}</h1>
    <h1>{{user.id}}</h1>
    <form action = "/edit/{{user.id}}"method = "get">
        <button type="submit"  class="btn btn-warning">Edit</button></form>
    
    <form action = "/delete/user/{{user.id}}"method = "post">
        <button type="submit"  class="btn btn-danger">Delete</button></form>
</div>
</body>
</html>