<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>All Users</title>
</head>
<body>
<div>
    <table class="table table-hover">
        <thead class="bg-primary text-light">
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>view</th>
        </thead>
        <tbody>
            {% for person in users %}
            <tr>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.email}}</td>
                <td><a href="/user/{{person.id}}">Click Here to View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href='/create'>Click Here to Make New User</a>
</div>
</body>
</html>