<h1>Example HTML Form</h1>

<form>
    <label for="season">Select Input:</label>
    <select name="season">
        <option value="A">Option A</option>
        <option value="B">Option B</option>
        <option value="C">Option C</option>
        <option value="D">Option D</option>
    </select>
    <br>

    <label for="color">Color Input:</label>
    <input name="color" type="color">
    <br>
    
    <label for="button">Button Input:</label>
    <input name="button" type="button">
    <br>
    
    <label for="checkbox">Checkbox Input:</label>
    <input name="checkbox" type="checkbox">
    <br>
    
    <label for="date">Date Input:</label>
    <input name="date" type="date">
    <br>
    
    <label for="datetime">Datetime Input:</label>
    <input name="datetime" type="datetime-local">
    <br>
    
    <label for="email">Email Input:</label>
    <input name="email" type="email">
    <br>
    
    <label for="file">File Input:</label>
    <input name="file" type="file">
    <br>
    
    <label for="hidden">Hidden Input:</label>
    <input name="hidden" type="hidden">
    <br>
    
    <label for="image">Image Input:</label>
    <input name="image" type="image">
    <br>
    
    <label for="month">Month Input:</label>
    <input name="month" type="month">
    <br>
    
    <label for="number">Number Input:</label>
    <input name="number" type="number">
    <br>
    
    <label for="password">Password Input:</label>
    <input name="password" type="password">
    <br>
    
    <label for="radio">Radio Input:</label>
    <input name="radio" type="radio">
    <input name="radio" type="radio">
    <input name="radio" type="radio">
    <br>
    
    <label for="range">Range Input:</label>
    <input name="range" type="range">
    <br>
        
    <label for="search">Search Input:</label>
    <input name="search" type="search">
    <br>
        
    <label for="tel">Tel Input:</label>
    <input name="tel" type="tel">
    <br>
    
    <label for="text">Text Input:</label>
    <input name="text" type="text">
    <br>
    
    <label for="time">Time Input:</label>
    <input name="time" type="time">
    <br>
    
    <label for="url">Url Input:</label>
    <input name="url" type="url">
    <br>
    
    <label for="week">Week Input:</label>
    <input name="week" type="week">
    <br>
    
    <!------------------------>
    <br>
    <input type="submit">
    <input type="reset">

</form>